body { font-family: 'Open Sans', sans-serif; }
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }
div.main, div.main div { min-height: 5px; line-height: 1.7em; }
div.main { margin-bottom: 2em; }
.dp { text-align: center; margin: 1em 0; padding: .2em; }
.dp span {
    /*border           : 1px solid black;*/
    font-size: 1.3em;
    padding            : 1px 20px;
    border-radius      : 40px;
    font-weight        : bold;
    background-color   : #eae9e8
    -webkit-box-shadow : 6px 6px 29px -1px rgba(0,0,0,0.77);
    -moz-box-shadow    : 6px 6px 29px -1px rgba(0,0,0,0.77);
    box-shadow         : 6px 6px 29px -1px rgba(0,0,0,0.77);
}

.secondOnwards { margin-top: .2em; }

div.addDp { margin-top: 1em; }

div.addDp span {
    padding            : 5px 20px;
    border-radius      : 30px;
    -webkit-box-shadow : 6px 6px 29px -1px rgba(0,0,0,0.77);
    -moz-box-shadow    : 6px 6px 29px -1px rgba(0,0,0,0.77);
    box-shadow         : 6px 6px 29px -1px rgba(0,0,0,0.77);
}

div.main div.leftPane, div.main div.rightPane {
    word-wrap: break-word;
    /* white-space: pre-wrap; */
    font-size: 1.8em;
    font-weight: bold;
}

div.main div.leftPane { text-align: right; border-right: 4px solid black; }

div.main div.rightPane { text-align: left; border-left: 4px solid black; margin-left: -4px;}

div.heading div {
    border         : 0px solid red;
    text-align     : center;
    /* text-transform : capitalize; */
    font-weight    : bold;
    padding-bottom : 1em;
    margin         : .2em 0;
    padding-top    : 1em;
    vertical-align : middle;
    font-size      : 1.5em;
}

div.main div.heading div.hleftPane {
    text-align   : center;
    border-right : 4px solid black;
}

div.main div.heading div.hrightPane { text-align:center; }
div.heading div.hleftPane, div.heading div.hrightPane { border-bottom: 0px solid black; font-size: 1.6em; }


/* popup for css*/
.leftPane img, .rightPane img {
    width  : 300px;
    height : 200px;
}
#one { text-align : center}
#twow {position   : relative; width : 100%;}
#two {
    background         : white;
    position           : fixed;
    top                : 50%;
    left               : 50%;
    margin-left        : -200px;
    margin-top         : -150px;
    display            : none; /* change this */
    border             : 2px solid gray;
    min-height         : 250px;
    min-width          : 400px;
    -webkit-box-shadow : 18px 18px 7px -4px rgba(0,0,0,0.53);
    -moz-box-shadow    : 18px 18px 7px -4px rgba(0,0,0,0.53);
    box-shadow         : 18px 18px 7px -4px rgba(0,0,0,0.53);
    border-radius      : 10px;
}
#two div#form{
    padding     : 5px 10px;
    padding-top : 2em;
}
#one{
    cursor        : pointer;
    /*    border: 1px solid black; border-radius      : 15px; padding: 5px 20px; */
}
#close{
    display       : block;
    cursor        : pointer;
    position      : absolute;
    top           : 5px;
    right         : 5px;
    border        : 1px solid black;
    border-radius : 4px;
    padding       : 2px 6px;
}
#close:hover{
    color  : gray;
    border : 1px solid gray;
}
#two { text-align : center; }
div#form div input {margin : 7px;}
#forme div { border : 0px solid red;}


/* csv upload */
.upload_form { margin-top: 10%; margin-left: 25%; }
.upload_form .h {
    font-weight   : bold;
    margin-left   : 8%;
    margin-bottom : 5%;
}


/* search page */
.recent-popular-row { margin-top: 2%};
.popular_searches .recent_searches { text-align: center; }
.r2ecent_searches a:hover { background-color: lightgray; }
#e1, #e2 {  width: 100px;}
#dropdownMenu1 { width: 100px;}
h1, h3{text-align: center}





div.boxes {
    float: left;
    margin: 4%;
}

.popular_searches .boxes .box{
background: rgba(12,245,40,1);
background: -moz-linear-gradient(45deg, rgba(12,245,40,1) 0%, rgba(86,245,54,1) 13%, rgba(242,235,234,1) 49%, rgba(24,240,49,1) 71%, rgba(39,230,106,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(12,245,40,1)), color-stop(13%, rgba(86,245,54,1)), color-stop(49%, rgba(242,235,234,1)), color-stop(71%, rgba(24,240,49,1)), color-stop(100%, rgba(39,230,106,1)));
background: -webkit-linear-gradient(45deg, rgba(12,245,40,1) 0%, rgba(86,245,54,1) 13%, rgba(242,235,234,1) 49%, rgba(24,240,49,1) 71%, rgba(39,230,106,1) 100%);
background: -o-linear-gradient(45deg, rgba(12,245,40,1) 0%, rgba(86,245,54,1) 13%, rgba(242,235,234,1) 49%, rgba(24,240,49,1) 71%, rgba(39,230,106,1) 100%);
background: -ms-linear-gradient(45deg, rgba(12,245,40,1) 0%, rgba(86,245,54,1) 13%, rgba(242,235,234,1) 49%, rgba(24,240,49,1) 71%, rgba(39,230,106,1) 100%);
background: linear-gradient(45deg, rgba(12,245,40,1) 0%, rgba(86,245,54,1) 13%, rgba(242,235,234,1) 49%, rgba(24,240,49,1) 71%, rgba(39,230,106,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0cf528', endColorstr='#27e66a', GradientType=1 );

}
.recent_searches .boxes .box{
    background: rgba(246,41,12,1);
    background: -moz-linear-gradient(-45deg, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 13%, rgba(235,185,179,1) 49%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(246,41,12,1)), color-stop(13%, rgba(248,80,50,1)), color-stop(49%, rgba(235,185,179,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(100%, rgba(231,56,39,1)));
    background: -webkit-linear-gradient(-45deg, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 13%, rgba(235,185,179,1) 49%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 13%, rgba(235,185,179,1) 49%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 13%, rgba(235,185,179,1) 49%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    background: linear-gradient(135deg, rgba(246,41,12,1) 0%, rgba(248,80,50,1) 13%, rgba(235,185,179,1) 49%, rgba(240,47,23,1) 71%, rgba(231,56,39,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6290c', endColorstr='#e73827', GradientType=1 );

}
@import url('https://fonts.googleapis.com/css?family=Itim|Gloria+Hallelujah|Indie+Flower');

@import url("hover-min.css");

.box{ transition: all .1s ease-in-out; }
.box:hover { transform: scale(1.05); }

#diffbox  a {
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}
#diffbox .box{
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
    border: 1px solid black;
    -webkit-box-shadow: 4px 2px 21px 2px rgba(47, 102, 40, 0.65);
    -moz-box-shadow:    4px 2px 21px 2px rgba(47, 102, 40, 0.65);
    box-shadow:         4px 2px 21px 2px rgba(47, 102, 40, 0.65);
    display: block;
    width: 150px;

}

#diffbox span.hits {
 position: absolute;
 top: 1px;
 left: 1px;
 min-width: 20px;
 height: 30px;
    border-radius: 11px 2px 2px 2px;
    -moz-border-radius: 11px 2px 2px 2px;
    -webkit-border-radius: 11px 2px 2px 2px;
    border: 1px solid transparent;


    background: rgba(164,179,87,1);
    background: -moz-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(164,179,87,1)), color-stop(100%, rgba(117,137,12,1)));
    background: -webkit-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -o-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: -ms-linear-gradient(left, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    background: linear-gradient(to right, rgba(164,179,87,1) 0%, rgba(117,137,12,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#75890c', GradientType=1 );
}

#diffbox span.box {
    padding: 5px 10px;
}
#diffbox span.box span{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    display: block;
}

.clear {
    clear: both;
}
