body { font-family: 'Open Sans', sans-serif; }
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll; }
div.main, div.main div { min-height: 5px; line-height: 1.7em; }
div.main { margin-bottom: 2em; }
.dp { text-align: center; margin: 1em 0; padding: .2em; }
.dp span {
    /*border           : 1px solid black;*/
    padding            : 1px 20px;
    border-radius      : 40px;
    font-weight        : bold;
    background-color   : #eae9e8
    -webkit-box-shadow : 6px 6px 29px -1px rgba(0,0,0,0.77);
    -moz-box-shadow    : 6px 6px 29px -1px rgba(0,0,0,0.77);
    box-shadow         : 6px 6px 29px -1px rgba(0,0,0,0.77);
}

.secondOnwards { margin-top: .2em; }

div.addDp { margin-top: 1em; }

div.addDp span {
    padding            : 5px 20px;
    border-radius      : 30px;
    -webkit-box-shadow : 6px 6px 29px -1px rgba(0,0,0,0.77);
    -moz-box-shadow    : 6px 6px 29px -1px rgba(0,0,0,0.77);
    box-shadow         : 6px 6px 29px -1px rgba(0,0,0,0.77);
}

div.main div.leftPane { text-align: right; border-right: 2px solid black; }

div.main div.rightPane { text-align: left; border-left: 4px solid black; margin-left: -2px; }

div.heading div {
    border         : 0px solid red;
    text-align     : center;
    text-transform : capitalize;
    font-weight    : bold;
    padding-bottom : 1em;
    margin         : .2em 0;
    padding-top    : 1em;
    vertical-align : middle;
    font-size      : 1.5em;
}

div.main div.heading div.leftPane {
    text-align   : center;
    border-right : 4px solid black;
}
div.main div.heading div.hrightPane { text-align:center; }
div.heading div.leftPane, div.heading div.hrightPane { border-bottom: 0px solid black; }


/* popup for css*/
.leftPane img, .rightPane img {
    width  : 300px;
    height : 200px;
}
#one { text-align : center}
#twow {position   : relative; width : 100%;}
#two {
    background         : white;
    position           : fixed;
    top                : 50%;
    left               : 50%;
    margin-left        : -200px;
    margin-top         : -150px;
    display            : none; /* change this */
    border             : 2px solid gray;
    min-height         : 250px;
    min-width          : 400px;
    -webkit-box-shadow : 18px 18px 7px -4px rgba(0,0,0,0.53);
    -moz-box-shadow    : 18px 18px 7px -4px rgba(0,0,0,0.53);
    box-shadow         : 18px 18px 7px -4px rgba(0,0,0,0.53);
    border-radius      : 10px;
}
#two div#form{
    padding     : 5px 10px;
    padding-top : 2em;
}
#one{
    cursor        : pointer;
    /*    border: 1px solid black; border-radius      : 15px; padding: 5px 20px; */
}
#close{
    display       : block;
    cursor        : pointer;
    position      : absolute;
    top           : 5px;
    right         : 5px;
    border        : 1px solid black;
    border-radius : 4px;
    padding       : 2px 6px;
}
#close:hover{
    color  : gray;
    border : 1px solid gray;
}
#two { text-align : center; }
div#form div input {margin : 7px;}
#forme div { border : 0px solid red;}


/* csv upload */
.upload_form { margin-top: 10%; margin-left: 25%; }
.upload_form .h {
    font-weight   : bold;
    margin-left   : 8%;
    margin-bottom : 5%;
}


/* search page */
.recent_searches { text-align: center; }
.recent_searches a:hover { background-color: lightgray; }
#e1, #e2 {  width: 100px;}
#dropdownMenu1 { width: 100px;}
h1, h3{text-align: center}





@import url('https://fonts.googleapis.com/css?family=Itim|Gloria+Hallelujah|Indie+Flower');


#diffbox  a {
    position: relative;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
    font-style: italic;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
}
#diffbox .box{
    border-radius: 11px 11px 11px 11px;
    -moz-border-radius: 11px 11px 11px 11px;
    -webkit-border-radius: 11px 11px 11px 11px;
    border: 0px solid #000000;
    border: 1px solid black;
    -webkit-box-shadow: 4px 2px 21px 2px rgba(47, 102, 40, 0.65);
    -moz-box-shadow:    4px 2px 21px 2px rgba(47, 102, 40, 0.65);
    box-shadow:         4px 2px 21px 2px rgba(47, 102, 40, 0.65);
    display: block;
    width: 200px;

background: rgba(158,184,136,1);
background: -moz-linear-gradient(-45deg, rgba(158,184,136,1) 0%, rgba(33,63,9,1) 62%, rgba(33,63,9,1) 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(158,184,136,1)), color-stop(62%, rgba(33,63,9,1)), color-stop(100%, rgba(33,63,9,1)));
background: -webkit-linear-gradient(-45deg, rgba(158,184,136,1) 0%, rgba(33,63,9,1) 62%, rgba(33,63,9,1) 100%);
background: -o-linear-gradient(-45deg, rgba(158,184,136,1) 0%, rgba(33,63,9,1) 62%, rgba(33,63,9,1) 100%);
background: -ms-linear-gradient(-45deg, rgba(158,184,136,1) 0%, rgba(33,63,9,1) 62%, rgba(33,63,9,1) 100%);
background: linear-gradient(135deg, rgba(158,184,136,1) 0%, rgba(33,63,9,1) 62%, rgba(33,63,9,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eb888', endColorstr='#213f09', GradientType=1 );

}

#diffbox span.hits {
 position: absolute;
 top: 1px;
 left: 1px;
 min-width: 20px;
 height: 30px;
    border-radius: 11px 5px 5px 5px;
    -moz-border-radius: 11px 5px 5px 5px;
    -webkit-border-radius: 11px 5px 5px 5px;
    border: 1px solid transparent;


 background: rgba(248,80,50,1);
 background: -moz-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 13%, rgba(240,47,23,1) 71%, rgba(246,41,12,1) 77%, rgba(231,56,39,1) 97%, rgba(231,56,39,1) 100%);
 background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(248,80,50,1)), color-stop(13%, rgba(241,111,92,1)), color-stop(71%, rgba(240,47,23,1)), color-stop(77%, rgba(246,41,12,1)), color-stop(97%, rgba(231,56,39,1)), color-stop(100%, rgba(231,56,39,1)));
 background: -webkit-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 13%, rgba(240,47,23,1) 71%, rgba(246,41,12,1) 77%, rgba(231,56,39,1) 97%, rgba(231,56,39,1) 100%);
 background: -o-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 13%, rgba(240,47,23,1) 71%, rgba(246,41,12,1) 77%, rgba(231,56,39,1) 97%, rgba(231,56,39,1) 100%);
 background: -ms-linear-gradient(-45deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 13%, rgba(240,47,23,1) 71%, rgba(246,41,12,1) 77%, rgba(231,56,39,1) 97%, rgba(231,56,39,1) 100%);
 background: linear-gradient(135deg, rgba(248,80,50,1) 0%, rgba(241,111,92,1) 13%, rgba(240,47,23,1) 71%, rgba(246,41,12,1) 77%, rgba(231,56,39,1) 97%, rgba(231,56,39,1) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f85032', endColorstr='#e73827', GradientType=1 );
}

#diffbox span.box {
    padding: 5px 10px;
}
#diffbox span.box span{
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    display: block;
}
